<h1>Announcement</h1>

<p>
  <b>User</b><br>
  <%= @announcement.user_id %>
</p>

<p>
  <b>Topic</b><br>
  <%= @announcement.topic %>
</p>

<p>
  <b>Content</b><br>
  <%= @announcement.content %>
</p>

<p>
  <b>Kind</b><br>
  <%= @announcement.kind %>
</p>

<div class="form-actions">
  <%= link_to 'Back', announcements_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_announcement_path(@announcement), :class => 'btn' %>
  <%= link_to 'Delete', announcement_path(@announcement), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
