<%= simple_form_for @project, :html => { :class => 'form-horizontal project-listing-header front-signup signup' } do |f| %>
  <fieldset>
        <legend><%= controller.action_name.capitalize %> Project</legend>
    
    <%= f.input :started_at, :as => :date, :order => [:month, :year] %>
    <%= f.input :ending_at, :as => :date, :order => [:month, :year] %>
    <%= f.input :name %>
    <%= f.input :description, :as => 'text' %>
   
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-create signup-btn' %>
      <%= link_to 'Cancel', @project, :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
