
<%= simple_form_for(@user, :html => { :class => 'form-horizontal project-listing-header front-signup signup'} ) do |f| %>
  <fieldset>
    <legend> <h2><strong>New to ProjectBox?</strong> Sign up</h2></legend>
    <%= f.input :full_name, :placeholder => "Full Name" %>
    <%= f.input :pref_name, :placeholder => "Preferred Name" %>
    <%= f.input :email, :placeholder => "Email" %>
    <%= f.input :password, :placeholder => "Password"%>
    <%= f.input :password_confirmation, :placeholder => "Password Confirmation"%>
    <div class="sign-up-actions">
      <%= f.submit nil, :class => 'btn btn-create signup-btn' %>
    </div>
  </fieldset>
<% end %>
