<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag %>
    <title>ProjectBox Mobile</title>
    <%= stylesheet_link_tag "jquery_mobile" %>
    <%= javascript_tag do %>
      <% if @user %>
    		window.current_user = <%=raw @user.to_json %>;
      <% end %>
	<% end %>
    <%= javascript_include_tag "mobile_app" %>
	
  </head>
  <body>
	
  
  </body>
</html>
